In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler

df = pd.read_csv(r"C:\Users\JOSUE\Downloads\hackathon\2017_lloguer_preu_trim.csv")

In [19]:
df.shape

(584, 8)

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             584 non-null    int64
 1   Trimestre       584 non-null    int64
 2   Codi_Districte  584 non-null    int64
 3   Nom_Districte   584 non-null    object
 4   Codi_Barri      584 non-null    int64
 5   Nom_Barri       584 non-null    object
 6   Lloguer_mitja   584 non-null    object
 7   Preu            546 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 36.6+ KB

          Any   Trimestre  Codi_Districte  Codi_Barri         Preu
count   584.0  584.000000      584.000000  584.000000   546.000000
mean   2017.0    2.500000        6.246575   37.000000   421.009231
std       0.0    1.118992        2.790726   21.089371   446.178147
min    2017.0    1.000000        1.000000    1.000000     4.450000
25%    2017.0    1.750000        4.000000   19.000000    12.645000
50%    2017.0    2.500000        7.000000   37.000000   161.565000
75%    2017.0    3.250000        8.000000   55.000000   770.347500
max    2017.0    4.000000       10.000000   73.000000  1882.420000

In [21]:
# def plot_variables(df):
#     # Obteniendo listas de columnas por tipo de datos
#     numeric_cols = df.select_dtypes(include=['int', 'float']).columns
#     categorical_cols = df.select_dtypes(include=['object']).columns
#     boolean_cols = df.select_dtypes(include=['bool']).columns

#     # Graficar variables numéricas
#     for col in numeric_cols:
#         plt.figure(figsize=(8, 6))
#         plt.hist(df[col], bins=20)
#         plt.xlabel(col)
#         plt.ylabel('Frecuencia')
#         plt.title(f'Histograma de {col}')
#         plt.show()

#     # Graficar variables categóricas
#     for col in categorical_cols:
#         plt.figure(figsize=(8, 6))
#         df[col].value_counts().plot(kind='bar')
#         plt.xlabel(col)
#         plt.ylabel('Frecuencia')
#         plt.title(f'Gráfico de barras de {col}')
#         plt.show()

#     # Graficar variables booleanas
#     for col in boolean_cols:
#         plt.figure(figsize=(8, 6))
#         df[col].value_counts().plot(kind='bar')
#         plt.xlabel(col)
#         plt.ylabel('Frecuencia')
#         plt.title(f'Gráfico de barras de {col}')
#         plt.show()


# plot_variables(df)

In [22]:
#  la media de la columna "Preu"
mean_lloguer = df['Preu'].mean()

# Rellena los valores faltantes con la media
df['Preu'].fillna(mean_lloguer, inplace=True)

In [23]:
df.isnull().sum()

Any               0
Trimestre         0
Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Lloguer_mitja     0
Preu              0
dtype: int64

In [24]:
df.duplicated().sum()

0

In [25]:
# no me gusta que los nombre de las columnas esten en mayusculas los cambiare a todo minusculas y tambien cambiare el nombre del precio
df.columns = df.columns.str.lower()
df.rename(columns={'preu': 'lloguer mitjà mensual'}, inplace=True)

In [26]:
valores_unicos = df['lloguer mitjà mensual'].unique()
# Calcular la cantidad de valores únicos
cantidad_valores_unicos = len(valores_unicos)
print(cantidad_valores_unicos)

505

In [27]:
print(df.columns)

Index(['any', 'trimestre', 'codi_districte', 'nom_districte', 'codi_barri',
       'nom_barri', 'lloguer_mitja', 'lloguer mitjà mensual'],
      dtype='object')

In [28]:
# borrare las columnas que no necesito solo dejare la de precio y las dos columnas por las cuales haremos el merge
# Reemplaza "tu_dataframe" con el nombre real de tu DataFrame y proporciona los nombres de las columnas que deseas eliminar.
df = df.drop(columns=["any", "nom_districte","nom_barri","lloguer_mitja",])

In [29]:
df.head(10)

   trimestre  codi_districte  codi_barri  lloguer mitjà mensual
0          1               1           1                 734.99
1          1               1           2                 905.26
2          1               1           3                 722.78
3          1               1           4                 895.28
4          1               2           5                 871.08
5          1               2           6                 847.04
6          1               2           7                1151.09
7          1               2           8                1001.49
8          1               2           9                 909.08
9          1               2          10                 876.97

In [30]:
df.to_csv(r'C:\Users\JOSUE\Downloads\hackathon\real_state_limpio.csv', index=False)